img
{
    width: 120px;
    height: 120px;
}

.circle
{
    border-radius: 50%;
}

.animals
{
    display: flex;
    justify-content: flex-end;
}

.cat
{
    border: 5px solid yellow;
}

.horse
{
    border: 5px solid red;
}

.camel
{
    border: 5px solid green;
}