img
{
    width: 120px;
    height: 120px;
}

h1
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

nav
{
    background-color: aqua;
}

a
{
    text-decoration: none;
    color: black;
}

button
{
    width: 130px;
    height: 55px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
}

.tela
{
    display: flex;
    justify-content: center;
}

.interface
{
    display: flex;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;

}