.fonte {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.fonte2
{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

nav {
    background-color: #000000;
    padding: 10px;
    font-family: "SUSE", sans-serif;
}


.barra{
    margin: 0;
    padding: 0;
}

.centro
{
    display: flex;
    align-items: center;
}

main
{
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.linha{
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

.am {
    text-decoration: none;
    color: #ffffff;
}


.am:hover{
    color: #de2e2e;
}

a::selection{
    color:#000000;
    background-color: #000000;
}
img{
    padding-left: 50px;

}
b{
    padding: 15px;
}